on init

	#######################################
	# Required shim libs
	# For LOS 13
	#######################################
	#export LD_SHIM_LIBS /system/lib/libhwui.so|/system/lib/libshim_hwui.so:/system/lib64/libhwui.so|/system/lib64/libshim_hwui.so:/system/lib/libcamera_client.so|/system/lib/libshim_camera_client.so:/system/lib64/libcamera_client.so|/system/lib64/libshim_camera_client.so:/system/lib/libmedia.so|/system/lib/libshim_media.so:/system/lib64/libmedia.so|/system/lib64/libshim_media.so


	#######################################
	# CPU cores...
	# Override them before boot
	# I'd not like to override the original
	# init.rc
	#######################################
	write /dev/cpuset/foreground/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-7
	write /dev/cpuset/background/cpus 0-3
	write /dev/cpuset/system-background/cpus 0-7
	write /dev/cpuset/top-app/cpus 0-7
